## Display Features

In [12]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings

from xml.etree.ElementTree import fromstring, ElementTree
import xml.etree.ElementTree as ET

In [13]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Matches

In [113]:
matches = pd.read_csv(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\Football\\DataSets\\matches.csv",
    index_col=0,
)

In [114]:
sample = matches[['HomePlayer1', 'AwayPlayer1','Result']]

In [115]:
sample.head()

   HomePlayer1  AwayPlayer1  Result
0         72.0         72.5       1
1         72.0         65.0       0
2         55.0         65.0      -1
3         69.5         72.5      -1
4         68.5         72.5       0

In [116]:
sample.isnull().sum()

HomePlayer1    411
AwayPlayer1    414
Result           0
dtype: int64

In [117]:
def calculate_mean(df, column):
    df[column] = df[column].fillna(df[column].mean())
    
    return df

In [118]:
sample = sample.copy(deep=True)
df = sample
column = 'HomePlayer1'
sample = calculate_mean(df, column)

In [119]:
sample.head()

   HomePlayer1  AwayPlayer1  Result
0         72.0         72.5       1
1         72.0         65.0       0
2         55.0         65.0      -1
3         69.5         72.5      -1
4         68.5         72.5       0

In [120]:
sample.isnull().sum()

HomePlayer1      0
AwayPlayer1    414
Result           0
dtype: int64

In [121]:
df = sample
column = 'HomePlayer1'

sample = calculate_mean(df, column)

In [122]:
sample.isnull().sum()

HomePlayer1      0
AwayPlayer1    414
Result           0
dtype: int64