## Display Features

In [292]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings

from xml.etree.ElementTree import fromstring, ElementTree
import xml.etree.ElementTree as ET

In [293]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Load Datasets

## Players

In [294]:
players = pd.read_csv(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\Football\\DataSets\\players.csv",
    index_col=0,
)

In [295]:
players.head()

,PlayerID,Date,PreferredFoot,AttachWorkRate,DefenceWorkRate,Birthday,Height,Weight,BMI,OverallRating,Potential,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FreeKickAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Marking,StandingTackle,SlidingTackle
0,2625,2007,right,high,medium,1981.0,175.26,154.0,22.74,63.0,64.0,48.0,48.0,47.0,64.0,38.0,57.0,50.0,48.5,67.0,57.0,67.0,64.0,59.0,52.0,49.0,61.0,56.0,78.0,56.0,59.0,72.0,52.0,55.0,56.0,46.0,64.0,66.0,63.0
1,2625,2008,right,high,medium,1981.0,175.26,154.0,22.74,60.0,64.0,48.0,48.0,47.0,64.0,38.0,57.0,50.0,51.0,67.0,57.0,67.0,64.0,59.0,52.0,49.0,61.0,56.0,78.0,56.0,59.0,72.0,52.0,55.0,56.0,46.0,64.0,66.0,63.0
2,2625,2010,right,high,medium,1981.0,175.26,154.0,22.74,60.0,64.0,48.0,48.0,47.0,64.0,38.0,57.0,50.0,51.0,67.0,57.0,67.0,64.0,59.0,50.0,49.0,71.0,56.0,78.0,56.0,59.0,72.0,71.0,50.0,56.0,69.0,64.0,66.0,63.0
3,2625,2011,right,high,medium,1981.0,175.26,154.0,22.74,58.5,60.5,52.0,47.0,46.0,58.0,37.0,56.0,49.0,50.0,66.0,58.0,66.0,63.0,58.0,49.0,61.5,68.0,55.0,77.0,55.0,58.0,71.0,65.0,49.0,55.0,66.0,63.0,63.0,57.0
4,2625,2012,right,medium,medium,1981.0,175.26,154.0,22.74,58.0,58.0,52.0,47.0,46.0,53.0,37.0,56.0,49.0,50.0,66.0,58.0,67.0,63.0,67.0,49.0,76.0,68.0,55.0,77.0,55.5,58.0,71.0,64.0,49.0,55.0,66.0,63.0,63.0,52.0

In [296]:
players.shape

(71615, 39)

In [297]:
overall_rating = players[["Date", "PlayerID", "OverallRating"]]

## Matches

In [298]:
matches = pd.read_csv(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\Football\\DataSets\\matches.csv",
    index_col=0,
)

In [299]:
sample_matches = matches[["Date", "HomePlayer1", "HomePlayer2"]]
df_merge = sample_matches

In [300]:
player = "HomePlayer1"
date = "Date"
player_id = "PlayerID"
rating_column = "OverallRating"
left_dataframe = overall_rating
right_dataframe = df_merge
left = [date, player_id]
right = [date, player]


def overall_function(left_dataframe, right_dataframe, left, right, player, player_id, rating_column, df_merge):

    df_merge = pd.merge(left_dataframe, right_dataframe, left_on=left, right_on=right)
    df_merge[player] = df_merge[rating_column]
    del df_merge[rating_column]
    del df_merge[player_id]

    return df_merge

In [301]:
df_merge = overall_function(left_dataframe, right_dataframe, left, right, player, player_id, rating_column, df_merge)

In [302]:
df_merge.head()

   Date  HomePlayer1  HomePlayer2
0  2010         74.0      21450.0
1  2010         74.0      21450.0
2  2010         74.0      38451.0
3  2010         74.0      21450.0
4  2010         74.0      21450.0

In [303]:
df_merge.shape

(17832, 3)

In [288]:
player = "HomePlayer2"

df_merge = overall_function(left_dataframe, right_dataframe, left, right, player, player_id, rating_column, df_merge)

In [290]:
df_merge.sort_values("Date").head()

       Date  HomePlayer1  HomePlayer2
0      2010       2984.0         74.0
11247  2010      42702.0         74.0
11246  2010      42702.0         74.0
11203  2010      42692.0         65.0
11199  2010      42573.0         72.5

In [291]:
df_merge.shape

(17832, 3)