## Display Features

In [22]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings

from xml.etree.ElementTree import fromstring, ElementTree
import xml.etree.ElementTree as ET

In [23]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Load Datasets

## Players

In [24]:
players = pd.read_csv(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\Football\\DataSets\\players.csv",
    index_col=0,
)

In [25]:
players.head()

,PlayerID,Date,PreferredFoot,AttachWorkRate,DefenceWorkRate,Birthday,Height,Weight,BMI,OverallRating,Potential,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FreeKickAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Marking,StandingTackle,SlidingTackle
0,2625,2007,right,high,medium,1981.0,175.26,154.0,22.74,63.0,64.0,48.0,48.0,47.0,64.0,38.0,57.0,50.0,48.5,67.0,57.0,67.0,64.0,59.0,52.0,49.0,61.0,56.0,78.0,56.0,59.0,72.0,52.0,55.0,56.0,46.0,64.0,66.0,63.0
1,2625,2008,right,high,medium,1981.0,175.26,154.0,22.74,60.0,64.0,48.0,48.0,47.0,64.0,38.0,57.0,50.0,51.0,67.0,57.0,67.0,64.0,59.0,52.0,49.0,61.0,56.0,78.0,56.0,59.0,72.0,52.0,55.0,56.0,46.0,64.0,66.0,63.0
2,2625,2010,right,high,medium,1981.0,175.26,154.0,22.74,60.0,64.0,48.0,48.0,47.0,64.0,38.0,57.0,50.0,51.0,67.0,57.0,67.0,64.0,59.0,50.0,49.0,71.0,56.0,78.0,56.0,59.0,72.0,71.0,50.0,56.0,69.0,64.0,66.0,63.0
3,2625,2011,right,high,medium,1981.0,175.26,154.0,22.74,58.5,60.5,52.0,47.0,46.0,58.0,37.0,56.0,49.0,50.0,66.0,58.0,66.0,63.0,58.0,49.0,61.5,68.0,55.0,77.0,55.0,58.0,71.0,65.0,49.0,55.0,66.0,63.0,63.0,57.0
4,2625,2012,right,medium,medium,1981.0,175.26,154.0,22.74,58.0,58.0,52.0,47.0,46.0,53.0,37.0,56.0,49.0,50.0,66.0,58.0,67.0,63.0,67.0,49.0,76.0,68.0,55.0,77.0,55.5,58.0,71.0,64.0,49.0,55.0,66.0,63.0,63.0,52.0

In [26]:
players.shape

(71615, 39)

In [27]:
overall_rating = players[["Date", "PlayerID", "OverallRating"]]

## Matches

In [28]:
matches = pd.read_csv(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\Football\\DataSets\\matches.csv",
    index_col=0,
)

In [40]:
sample_matches = matches[["Date", "HomePlayer1", "HomePlayer2", "HomePlayer3", "HomePlayer4", "HomePlayer5"]]

In [41]:
def overall_function(player, date, player_id, rating_column, left_dataframe, right_dataframe, left, right):

    df_merge = pd.merge(left_dataframe, right_dataframe, left_on=[date, player_id], right_on=[date, player])
    df_merge[player] = df_merge[rating_column]
    del df_merge[rating_column]
    del df_merge[player_id]

    return df_merge

In [42]:
player = "HomePlayer1"
date = "Date"
player_id = "PlayerID"
rating_column = "OverallRating"
left_dataframe = overall_rating
right_dataframe = sample_matches


df_merge = overall_function(player, date, player_id, rating_column, left_dataframe, right_dataframe, left, right)

In [43]:
df_merge.head()

   Date  HomePlayer1  HomePlayer2  HomePlayer3  HomePlayer4  HomePlayer5
0  2010         74.0      21450.0      75353.0          NaN      75350.0
1  2010         74.0      21450.0          NaN      75353.0      75350.0
2  2010         74.0      38451.0      25753.0      75353.0      74721.0
3  2010         74.0      21450.0      37970.0      25753.0      75353.0
4  2010         74.0      21450.0      37970.0          NaN      75353.0

In [44]:
df_merge.shape

(17832, 6)

In [45]:
df_merge.isna().sum()

Date             0
HomePlayer1      0
HomePlayer2    200
HomePlayer3    188
HomePlayer4    202
HomePlayer5    187
dtype: int64

In [46]:
player = "HomePlayer2"
date = "Date"
player_id = "PlayerID"
rating_column = "OverallRating"
left_dataframe = overall_rating
right_dataframe = df_merge


df_merge = overall_function(player, date, player_id, rating_column, left_dataframe, right_dataframe, left, right)

In [47]:
df_merge.sort_values("Date").head()

      Date  HomePlayer1  HomePlayer2  HomePlayer3  HomePlayer4  HomePlayer5
0     2010         78.0         81.0      37479.0      30994.0     150739.0
2739  2010         77.0         72.5      24970.0      37515.0      39357.0
2740  2010         77.0         72.5      41318.0      37515.0      39357.0
2741  2010         81.0         73.5      24403.0     103266.0      39763.0
7524  2010         77.5         71.5      46078.0      70812.0      26660.0

In [48]:
df_merge.shape

(17374, 6)

In [49]:
df_merge.isna().sum()

Date             0
HomePlayer1      0
HomePlayer2      0
HomePlayer3    153
HomePlayer4    170
HomePlayer5    143
dtype: int64

In [50]:
player = "HomePlayer3"
date = "Date"
player_id = "PlayerID"
rating_column = "OverallRating"
left_dataframe = overall_rating
right_dataframe = df_merge


df_merge = overall_function(player, date, player_id, rating_column, left_dataframe, right_dataframe, left, right)

In [51]:
df_merge.sort_values("Date").head()

       Date  HomePlayer1  HomePlayer2  HomePlayer3  HomePlayer4  HomePlayer5
8546   2010         81.0         79.5         79.0      26119.0      41092.0
11861  2010         76.5         70.5         75.5     101070.0      74752.0
11860  2010         76.5         68.0         75.5      75395.0      74752.0
8908   2010         72.0         66.0         74.5      94041.0      30908.0
8909   2010         76.0         72.0         74.5      41127.0      26521.0

In [52]:
df_merge.shape

(17093, 6)

In [53]:
df_merge.isna().sum()

Date             0
HomePlayer1      0
HomePlayer2      0
HomePlayer3      0
HomePlayer4    134
HomePlayer5    105
dtype: int64

In [54]:
player = "HomePlayer4"
date = "Date"
player_id = "PlayerID"
rating_column = "OverallRating"
left_dataframe = overall_rating
right_dataframe = df_merge


df_merge = overall_function(player, date, player_id, rating_column, left_dataframe, right_dataframe, left, right)

In [55]:
df_merge.sort_values("Date").head()

      Date  HomePlayer1  HomePlayer2  HomePlayer3  HomePlayer4  HomePlayer5
1837  2010         74.0         72.0         67.0         69.5      75353.0
1828  2010         75.0         72.0         75.5         69.0      89475.0
1829  2010         75.0         72.0         75.5         69.0      26222.0
1830  2010         75.0         72.0         75.5         69.0      26222.0
1831  2010         75.0         72.0         75.5         69.0      89475.0

In [56]:
df_merge.shape

(16800, 6)

In [53]:
df_merge.isna().sum()

Date             0
HomePlayer1      0
HomePlayer2      0
HomePlayer3      0
HomePlayer4    134
HomePlayer5    105
dtype: int64

In [57]:
player = "HomePlayer5"
date = "Date"
player_id = "PlayerID"
rating_column = "OverallRating"
left_dataframe = overall_rating
right_dataframe = df_merge


df_merge = overall_function(player, date, player_id, rating_column, left_dataframe, right_dataframe, left, right)

In [58]:
df_merge.sort_values("Date").head()

      Date  HomePlayer1  HomePlayer2  HomePlayer3  HomePlayer4  HomePlayer5
8287  2010         84.5         80.5         83.0         82.0         76.0
7185  2010         78.0         76.0         73.5         76.5         77.5
7184  2010         78.0         76.0         75.5         76.0         77.5
7183  2010         79.0         79.0         75.5         75.5         77.5
7178  2010         76.5         66.0         72.0         65.0         65.5

In [59]:
df_merge.shape

(16575, 6)

In [60]:
df_merge.isna().sum()

Date           0
HomePlayer1    0
HomePlayer2    0
HomePlayer3    0
HomePlayer4    0
HomePlayer5    0
dtype: int64